h1 {
    color: red;
    font-size: 48px;
    text-align: center;
    

}

#team{
    font-size: 300%;
}

body {
    font-family: 'Bungee Inline', cursive;
    background-image: url("https://betonit007.github.io/WordGuess/assets/images/backgroundresized.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-color: black;
}
   

#container { 

    margin: 0 auto;
    
    height: 600px;
    width: 600px;
    text-align: center;
}

#picbox {
    padding-top: 125px;
    height: 75px;
    width: 600px;

}

#team {
    height: 150px;
    width: 600px;
    text-align: center;
    padding-top: 100px;
    font-size:75px;
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}

#quest {
    font-size:25px;
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}


.ubox {
    font-size:25px;
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
        1px 1px 0 white;
}